<!doctype html>
<html>
    <head>
    	<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    	<script src='/static/mail.js'></script>
    	<style>
#mail-list, #mail-body{
	width:45%;
	border:solid thick black;
	display: inline-block;
}

.mail-summary{
	margin-top: 2ex;
}
.mail-summary:hover{
	border:solid thick #D0D0D0;
}
.mail-summary .sender{
	font-size:120%;
}
.mail-summary .subject{
	font-size:80%;
}
	    </style>
  	</head>
  	<body>
  		<button id='refresh'>Refresh</button>
  	<div>
  		<div id='mail-list'></div>
  		<div id='mail-body'></div>
  	</div>
  	</body>
</html>

